* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding-top: 0px; /* Ajuste o valor conforme a altura do seu navbar */
  }


    /* ======================================================================================================================  */

  /* navbar*/

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F2EEF7;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Impede a quebra de linha */
  }
  
  .logo {
    width: 100px; /* Tamanho da logomarca */
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: center; /* Centralizar os links */
    flex-grow: 1;
  }
  
  .nav-links li {
    margin-left: 20px;
    position: relative;
  }
  
  .nav-links a {
    color: #333; /* Texto preto */
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #6030A0; /* Barra roxa */
    transition: width 0.3s ease;
    position: absolute;
    bottom: -3px;
    left: 8px; /* Ajuste para garantir que a linha comece exatamente abaixo do texto */
  }
  
  .nav-links a:hover::after {
    width: calc(100% - 14px); /* Ajuste para que a linha não seja maior que o texto */
  }
  
  .search-bar {
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #ccc;
    outline: none;
    width: 120px; /* Tamanho inicial menor */
    height: 40px; /* Ajuste da altura para combinar com o botão "Entrar" */
    background-color: #fff;
    transition: width 0.3s ease; /* Transição suave ao expandir */
    margin-right: 15px; /* Adicionando um espaço de 15px entre o campo de pesquisa e o botão */
  }
  
  .btn-entrar {
    background-color: #6030A0; /* Cor roxa do botão */
    color: white; /* Texto branco */
    padding: 8px 20px;
    border-radius: 100px;
    text-decoration: none;
    border: none;
  }
  
  .btn-entrar:hover {
    background-color: white;
    color: #6030A0; /* Inversão de cores ao passar o mouse */
     transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .search-bar:focus {
    width: 300px; /* Expande ao ser clicada */
  }
  
    /* ======================================================================================================================  */

  .banner-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
    position: relative;
    margin-top: 20px; /* Ajuste para garantir que o banner não fique dentro do navbar */
  }
  
  .banner-texto {
    width: 50%;
    margin-left: 100px; /* Move o texto 100px para a direita */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
  }
  
  .banner-texto h1 {
    font-size: 3rem;
    color: #6030A0;
    margin-top: 230px;
  }
  
  .banner-texto p {
    font-size: 1.3rem;
    color: #333;
    margin-top: 10px;
    width: 600px; /* Largura automática para ajustar ao conteúdo */
  }
  
  .btn-saiba-mais {
    margin-top: 20px;
    padding: 12px 10px; /* 10px de distância da margem esquerda e direita */
    background-color: #6030A0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1rem;
    width: 200px; /* Largura automática para ajustar ao conteúdo */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  }
  
  .btn-saiba-mais:hover {
    background-color: white;
    font-weight: bold;
    color: #6030A0;
  }
  
  .banner-imagem {
    width: 40%;
  }
  
  .banner-imagem img {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 55px; /* Espaçamento entre o navbar e o banner */
  }
  
  .divisoria {
    width: 80%;
    height: 1px;
    background-color: #ffffff;
    margin: 550px auto 0 auto; /* 5px de espaço abaixo da imagem e centralização da linha */
  }  

    /* ======================================================================================================================  */

/* Personalizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6030A0; /* Cor roxa */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f4f4f4; /* Cor do fundo da barra de rolagem */
  }
  
    /* ======================================================================================================================  */

/* Estilo para telas grandes (acima de 1024px) */
@media (min-width: 1024px) {
    .banner-texto h1 {
      font-size: 3.5rem;
    }
  
    .banner-texto p {
      font-size: 1.5rem;
      width: 600px; /* Largura maior para ajuste de telas grandes */
    }
  
    .btn-saiba-mais {
      padding: 12px 30px;
      font-size: 1.2rem;
    }
  
    .banner-imagem img {
      width: 50%; /* Ajuste do tamanho da imagem para telas grandes */
    }
  
    .divisoria {
      margin: 278px auto 0 auto; /* Ajuste para manter proporções em telas grandes */
    }
  }
  
  /* Estilo para tablets e mobile médio (entre 768px e 1024px) */
  @media (max-width: 1024px) {
    .banner-principal {
      flex-direction: column;
      align-items: center;
    }
  
    .banner-texto {
      width: 100%;
      margin-left: 0; /* Remover a margem lateral em telas menores */
      text-align: center;
    }
  
    .banner-texto h1 {
      font-size: 2.5rem;
    }
  
    .banner-texto p {
      font-size: 1.2rem;
      width: 90%; /* Ajuste de largura para dispositivos móveis */
    }
  
    .banner-imagem img {
      width: 60%; /* Reduzir o tamanho da imagem no tablet */
      position: relative;
      margin-top: 20px;
    }
  
    .btn-saiba-mais {
      width: auto; /* Garantir que o botão se ajuste ao conteúdo */
      font-size: 1rem;
    }
  
    .divisoria {
      margin: 50px auto 0 auto;
    }
  }
  
  /* Estilo para mobile (abaixo de 768px) */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      margin-top: 20px;
    }
  
    .search-bar {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .banner-principal {
      flex-direction: column;
      padding: 20px 5%;
      text-align: center;
    }
  
    .banner-texto {
      width: 100%;
      margin-left: 0;
    }
  
    .banner-texto h1 {
      font-size: 2rem;
      margin-top: 20px;
    }
  
    .banner-texto p {
      font-size: 1.1rem;
      width: 100%; /* O texto ocupa toda a largura disponível no mobile */
    }
  
    .banner-imagem img {
      width: 80%; /* Ajustar o tamanho da imagem no mobile */
      margin-top: 20px;
    }
  
    .btn-saiba-mais {
      width: auto;
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  
    .divisoria {
      margin: 30px auto 0 auto;
    }
  }
  
/* ======================================================================================================================  */
/* Estilo Geral da Sessão */
.carrossel-samu {
    text-align: center;
    width: 80%;
    margin: 40px auto;
}

.carrossel-samu h1 {
    font-size: 2.5rem;
    color: #6030A0;
    text-align: center; /* Centralizar título */
}

.texto-justificado {
    text-align: justify; /* Texto justificado */
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    width: 100%; /* Mesma largura do carrossel */
}

/* Carrossel */
.carrossel-container {
    position: relative;
    width: 100%; /* Garante que a largura do carrossel seja igual ao texto */
    max-width: auto;
    margin: 0 auto;
    overflow: hidden;
}

.carrossel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: none;
}

.slide.active {
    display: block;
  }

  .indicador.ativo {
    background-color: #6030A0; /* Muda a cor do indicador ativo */
  }

.slide img {
    width: 100%;
    border-radius: 10px;
}

.carrossel-texto {
    position: absolute;
    margin-left: 50px;  /* Margem à esquerda */
    bottom: 20px;
    left: 20px;
    color: white;
    text-align: left;
    max-width: 80%;
}

.carrossel-texto h2 {
    font-size: 2.5rem;
}

.carrossel-texto p {
    font-size: 1.4rem;
    margin-top: 10px;
}

.btn-saiba-mais {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #6030A0;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btn-saiba-mais:hover {
    background-color: white;
    color: #6030A0;
}

.btn-saiba-mais2 {
  margin-top: 10px;
  margin-left: 0px;  /* Margem à esquerda */
  padding: 8px 20px;
  background-color: white;
  color: #6030A0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-saiba-mais2:hover {
  background-color: #6030A0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Indicadores */
.carrossel-indicadores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indicador {
    height: 12px;
    width: 12px;
    background-color: #ccc;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicador.ativo {
    background-color: #6030A0;
}

/* ======================================================================================================================  */

/* Estilo Geral da Sessão "Por que usar o Yaso" */
.por-que-usar {
  width: 80%;
  margin: 40px auto;
  text-align: center; /* Centraliza o título */
}

.por-que-usar h1 {
  font-size: 2.5rem;
color: #6030A0;
margin-bottom: 30px;
}

/* Container para alinhar imagem e texto lado a lado */
.conteudo-por-que-usar {
display: flex;
align-items: center;
justify-content: space-between;
}

.imagem-por-que-usar {
flex: 1;
}

.imagem-por-que-usar img {
width: 80%; /* Tamanho da imagem ajustado */
max-width: 300px; /* Limite máximo da largura da imagem */
}

.texto-por-que-usar {
flex: 2;
margin-left: 40px;
text-align: justify;
}

.texto-por-que-usar p {
margin-bottom: 20px;
font-size: 1.1rem;
line-height: 1.6;
}

/* ======================================================================================================================  */

/* Estilo Geral da Sessão "Por que usar o Yaso" */
.por-que-usar {
  width: 80%;
  margin: 40px auto;
  text-align: center; /* Centraliza o título */
}

.por-que-usar h1 {
  font-size: 2.5rem;
color: #6030A0;
margin-bottom: 30px;
}

/* Container para alinhar imagem e texto lado a lado */
.conteudo-por-que-usar {
display: flex;
align-items: center;
justify-content: space-between;
}

.imagem-por-que-usar {
flex: 1;
}

.imagem-por-que-usar img {
width: 80%; /* Tamanho da imagem ajustado */
max-width: 300px; /* Limite máximo da largura da imagem */
}

.texto-por-que-usar {
flex: 2;
margin-left: 40px;
text-align: justify;
}

.texto-por-que-usar p {
margin-bottom: 20px;
font-size: 1.1rem;
line-height: 1.6;
}

/* ======================================================================================================================  */
.nossa-equipe {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.nossa-equipe h1 {
  font-size: 2.5rem;
  color: #6030A0;
  margin-bottom: 20px;
}

.descricao-equipe {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 50px;
}

.membros-equipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.membro {
  text-align: center;
}

.foto-membro {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.membro h3 {
  font-size: 1.5rem;
  color: #6030A0;
}

.membro p {
  font-size: 1rem;
  color: #333;
}

.icone-social {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.social-icons a {
  text-decoration: none; /* Remove o sublinhado dos links */
}

/* ======================================================================================================================  */
/* Sessão MVP */
.mvp-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.mvp-section h1 {
  font-size: 2.5rem;
  color: #6030A0;
  margin-bottom: 10px;
}

.mvp-section p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.form-newsletter {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-newsletter input {
  padding: 15px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 1rem;
  outline: none;
}

.form-newsletter input:focus {
  border-color: #6030A0;
}

.btn-newsletter {
  padding: 15px 40px;
  background-color: #6030A0;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-newsletter:hover {
  background-color: white;
  color: #6030A0;
  border: 2px solid #6030A0;
}

/* ======================================================================================================================  */
/* Imagem logo acima do footer */
.footer-image {
  width: 100%; /* A imagem ocupa 100% da largura da tela */
  display: block; /* Garantir que a imagem seja exibida como bloco */
  margin: 0; /* Remover qualquer margem padrão */
  padding: 0; /* Remover qualquer padding padrão */
}

.footer {
  background-color: #6d2ca4; /* Cor roxa para a barra do footer */
  width: 100%; /* Ocupa 100% da largura da tela */
  padding: 50px 0;
  text-align: center;
  margin-top: 0; /* Garantir que não haja espaçamento extra entre a imagem e o footer */
}

.footer-content {
  max-width: 80%; /* O conteúdo ocupa no máximo 80% da largura da tela */
  margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
  color: white;
}

.footer p {
  margin: 10px 0;
  font-size: 1rem;
}

.footer-icons {
  margin: 20px 0;
}

.footer-icons a {
  margin: 0 10px;
  display: inline-block;
}

.footer-icons img {
  width: 30px; /* Tamanho dos ícones */
  height: 30px;
}

.privacy-policy {
  color: white;
  text-decoration: underline;
  font-size: 0.9rem;
}

.privacy-policy:hover {
  color: #ccc;
  text-decoration: none;
}


/* ======================================================================================================================  */
/* Estilos para a linha divisória */
.linha-divisoria {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* A linha ocupará 80% da largura da tela */
  margin: 40px auto; /* Centraliza a linha e adiciona espaçamento */
}

.linha {
  flex-grow: 1;
  height: 1px; /* Altura fina da linha */
  background-color: #6030A0; /* Cor roxa da linha */
}

.logo-divisoria {
  width: 30px; /* Tamanho da logo */
  height: auto;
  margin: 0 15px; /* Espaçamento entre as linhas e a logo */
}

/* ======================================================================================================================  */
/* Estilo Geral da Sessão */
.faq-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.faq-section h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #6030A0;
  margin-bottom: 20px;
}

/* Estilo dos Toggles */
.toggle-container {
  width: 100%;
}

.toggle {
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.toggle-header h2 {
  color: #333; /* Cor padrão do título */
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.toggle-header img {
  width: 20px;
  transition: transform 0.3s ease;
}

.toggle:hover {
  background-color: #6030A0;
  color: white;
}

/* Quando o mouse estiver em cima do toggle */
.toggle:hover .toggle-header h2,
.toggle:hover .toggle-content p {
  color: white; /* Título e texto ficam brancos ao passar o mouse */
}

.toggle:hover .toggle-header img {
  content: url("src/images/plusbranco.png");
}

/* Conteúdo do Toggle */
.toggle-content {
  color: #333; /* Cor padrão do texto */
  display: none;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: #333;
  transition: max-height 0.3s ease;
}

.toggle.open .toggle-content {
  display: block;
}

/* ======================================================================================================================  */

/* Estilo para o pop-up de sucesso */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #6030A0;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup.error {
  background-color: #d9534f; /* Cor vermelha para mensagens de erro */
}

/* ======================================================================================================================  */

.parallax {
  /* Definir a imagem de fundo do parallax */
  background-image: url('src/images/seu-imagem-parallax.jpg');
  height: 500px; /* Altura da área do parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
