* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding-top: 0px;
  }
  

  /* NAVBAR ================================================================================== */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F2EEF7;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
  }
  
  .nav-links li {
    margin-left: 20px;
    position: relative;
  }
  
  .nav-links a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #6030A0;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -3px;
    left: 8px;
  }
  
  .nav-links a:hover::after {
    width: calc(100% - 14px);
  }
  
  .search-bar {
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #ccc;
    outline: none;
    width: 120px;
    height: 40px;
    background-color: #fff;
    transition: width 0.3s ease;
    margin-right: 15px;
  }
  
  .btn-entrar {
    background-color: #6030A0;
    color: white;
    padding: 8px 20px;
    border-radius: 100px;
    text-decoration: none;
    border: none;
  }
  
  .btn-entrar:hover {
    background-color: white;
    color: #6030A0;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .search-bar:focus {
    width: 300px;
  }
  
  /* H1 - OLÁ MUNDO ================================================================================== */
  main {
    margin: 150px auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    color: #6030A0;
    margin-bottom: 20px;
  }
  
  /* FOOTER ================================================================================== */
  .footer {
    background-color: #6d2ca4;
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 80%;
    margin: 0 auto;
    color: white;
  }
  
  .footer p {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .footer-icons {
    margin: 20px 0;
  }
  
  .footer-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .footer-icons img {
    width: 30px;
    height: 30px;
  }
  
  .privacy-policy {
    color: white;
    text-decoration: underline;
    font-size: 0.9rem;
  }
  
  .privacy-policy:hover {
    color: #ccc;
    text-decoration: none;
  }
  
  /* CUSTOM SCROLLBAR ================================================================================== */
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6030A0;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f4f4f4;
  }

  /* Imagem logo acima do footer */
.footer-image {
  width: 100%; /* A imagem ocupa 100% da largura da tela */
  display: block; /* Garantir que a imagem seja exibida como bloco */
  margin: 0; /* Remover qualquer margem padrão */
  padding: 0; /* Remover qualquer padding padrão */
}

  /* CARDS ================================================================================== */

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta dinamicamente */
  gap: 20px;
  padding: 30px 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Ajuste para que as imagens sejam cortadas proporcionalmente */
  border-radius: 10px;
  display: block;
}

.card h3 {
  font-size: 24px;
  margin: 15px 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-button {
  padding: 10px 20px;
  background-color: #6030A0;
  color: white;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-button:hover {
  background-color: white;
  color: #6030A0;
}

/* ======================================================================================================================  */
/* Estilos para a linha divisória */
.linha-divisoria {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* A linha ocupará 80% da largura da tela */
  margin: 40px auto; /* Centraliza a linha e adiciona espaçamento */
}

.linha {
  flex-grow: 1;
  height: 1px; /* Altura fina da linha */
  background-color: #6030A0; /* Cor roxa da linha */
}

.logo-divisoria {
  width: 30px; /* Tamanho da logo */
  height: auto;
  margin: 0 15px; /* Espaçamento entre as linhas e a logo */
}

/* ======================================================================================================================  */
.profile-info {
  text-align: left;
}

.profile-info h2 {
  font-size: 24px;
  color: #6030A0;
}

.profile-info p {
  font-size: 18px;
  color: #333;
}

/* Seção de serviços (cards) */
.service-section {
  width: 100%; /* A seção ocupa 80% da largura da página */
  margin: 30px auto; /* Centraliza a seção */
}

/* Serviço de Cards */
.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste dinâmico */
  gap: 55px; /* Aumenta o espaçamento entre os cards */
  padding: 0px 20px;
  width: 80%; /* Ajusta o tamanho da seção para 80% */
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação suave */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-10px); /* Efeito de elevação suave ao passar o mouse */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave ao passar o mouse */
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.card h3 {
  font-size: 24px;
  margin: 15px 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-button {
  padding: 10px 20px;
  background-color: #6030A0;
  color: white;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-button:hover {
  background-color: white;
  color: #6030A0;
}

/* ======================================================================================================================  */
/* Seção de perfil - Dra. Maria *//* Seção de perfil - Dra. Maria *//* Seção de perfil - Dra. Maria *//* Seção de perfil - Dra. Maria */
.profile-section {
  width: 80%; /* A seção ocupa 100% da largura da página */
  margin: 0 auto;
  padding: 0px 0;
}

.profile-content {
  display: flex; /* Exibe os elementos em linha */
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: flex-end; /* Garante que os elementos fiquem à direita */
  padding: 10px 0 20px 0; /* Diminui o espaçamento acima e abaixo da seção */

}

.profile-info {
  text-align: right; /* Texto alinhado à direita */
  margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Imagem circular */
  border: 2px solid #6030A0; /* Borda roxa */
  object-fit: cover;
}

/* Estilo para o ícone de logout na navbar */
.logout-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 15px; /* Espaçamento ao lado do campo de busca */
}
